<article class="entry">
  <div class="details">
    <h3>Appeals Court to Decide if Texas Can Begin Arresting Migrants</h3>
    <div class="detail source">
      <span>Source:</span> The New York Times
    </div>
    <div class="detail type">
      <span>Type:</span> Breaking
    </div>
    <div class="detail summary">
      <span>Summary:</span> The court halted a new state law after it briefly took effect. Judges will now hear arguments on whether it can be enforced during the appeals process.
    </div>
    <div class="detail take">
      <span>John's take:</span> I'm really bothered by this. Why does Abbott push for these laws?
    </div>
  </div>
</article>