<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Friendly Frontpage</h2>
  <p>
    The Friendly Frontpage app is a delightful project created to see if we can have better public dialogue.
    By building a site that limits the scope of the discourse, we can honor our own limits as we call
    attention to the important conversations and events of today.
  </p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</div>