<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>
    The Friendly Frontpage team would love to help you<br>
    troubleshoot your experience or answer any questions you may have.
  </p>
  <address>
    Friendly Frontpage
    <p>
      1212 Test Address Avenue<br>
      Atlanta, GA 00700<br>
      (ok, only the city and state are accurate...)
    </p>
    <a href="mailto:johnpatrickanders@yahoo.com">johnpatrickanders@yahoo.com</a>
  </address>
</div>