<Jumbo>
  <h2>Welcome to your friendly frontpage.</h2>
  <p>We hope you learn something worthwhile today.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>

<div class="entries">
  <ul class="results">
    <li><Entry @entry={{@model}}/></li>
    <li><Entry @entry={{@model}}/></li>
    <li><Entry @entry={{@model}}/></li>
  </ul>
</div>